@model EventsApplication.ViewModel.BuyTicketFormViewModel
@{
    ViewData["Title"] = "BuyTicketForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buy ticket for @Model.Event.Name</h1>

@using (@Html.BeginForm("BuyTicketSave", "Ticket"))
{

    <div class="form-group">
        @Html.LabelFor(p => p.Ticket.Customer.FirstName)
        @Html.TextBoxFor(p => p.Ticket.Customer.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Ticket.Customer.LastName)
        @Html.TextBoxFor(p => p.Ticket.Customer.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Ticket.Customer.Email)
        @Html.TextBoxFor(p => p.Ticket.Customer.Email, new { @class = "form-control" })
    </div>
   
    @Html.HiddenFor(model => model.Event.Id)
    <button type="submit" class="btn">Buy Ticket</button>
}
