@model EventsApplication.ViewModel.ReturnTicketFormViewModel
@{
    ViewBag.Title = "RefundTicketForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Refund ticket for </h2>

@using (@Html.BeginForm("RefundTicketSave", "Ticket"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Ticket.Id)
        @Html.TextBoxFor(p => p.Ticket.Id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.FirstName)
        @Html.TextBoxFor(p => p.Customer.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.LastName)
        @Html.TextBoxFor(p => p.Customer.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.Email)
        @Html.TextBoxFor(p => p.Customer.Email, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn">Refund Ticket</button>
}

