@model EventsApplication.Models.Event
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details about @Model.Name</h3>
<br />
<strong><h4>Name: @Model.Name,  Date: @Model.DateOfStart.Value.ToShortDateString() - @Model.DateOfEnd.Value.ToShortDateString()</h4></strong>
<p>Location: @Model.Location</p>
<p>Description: @Model.Description</p>
<p>Tickets left: @Model.Tickets</p>
<button type="submit" class="btn">@Html.ActionLink("Buy ticket", "BuyTicket", "Ticket", new { Id = Model.Id }, null)</button>
<button type="submit" class="btn">@Html.ActionLink("Refund ticket", "RefundTicket", "Ticket", new { Id = Model.Id }, null)</button>
<button type="submit" class="btn">@Html.ActionLink("Ticket List", "TicketList", "Ticket", new { Id = Model.Id }, null)</button>
