@model EventsLibrary.ViewModel.EventFormViewModel
@{
    ViewBag.Title = "New";
}
<br />
@using (Html.BeginForm("Save", "Event"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateOfStart)
        @Html.TextBoxFor(m => m.DateOfStart, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateOfStart)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateOfEnd)
        @Html.TextBoxFor(m => m.DateOfEnd, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateOfEnd)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tickets)
        @Html.TextBoxFor(m => m.Tickets, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tickets)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}


